API_BASE_URL=https://api.siliconflow.cn/v1/chat/completions
API_KEY=sk-abcdef
APIm_MODEL=gpt-3.5-turbo-16k

# 新增的 硅基流动 配置
SILICONFLOW_API_KEY=sk-your-siliconflow-key
SILICONFLOW_BASE_URL=https://api.siliconflow.cn/v1

# 数据库连接
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=bidong123456
DB_DATABASE=bidong

# redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=bidong123456
REDIS_DB=0